.ticket-container {
  color: white;
  min-height: 70vh;
  display: flex;
  justify-content: center;
}
.buy-btn {
  border-radius: 20px;
  font-size: 30px;
}

.ticket {
  margin: 20px;
  padding: auto;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 10px solid #282a36;
  border-radius: 20px;
}

.ticket-title {
  font-weight: 600;
  font-size: 30px;
  min-height: 100px;
  max-height: 100px;
}
.ticket-price {
  margin-top: 50px;
  font-weight: 600;
  font-size: 30px;
}
